<%= render 'partials/topbar' %>

<div class="row">
  <div class="large-8 columns">
    <h3>
      <div class="dash4">Lists</div>
    </h3>
    <% @lists.each do |list| %>
      <ul class="no-bullet">
        <li><h4><%= link_to list.title, edit_list_path(list) %>
          <%= link_to 'Add Task', new_list_task_path(list), class: "button round tiny" %>
          <%= link_to 'Archive This', archive_path(list), method: :put, class: "button round tiny" %></h4></li>
      </ul>
      <h5 class="active-tasks">Active Tasks for <%= list.title %>
        <% list.current_tasks.each do |task| %>
          <ul>
            <li><%= link_to task.title, edit_list_task_path(list, task) %></li>
            <%= link_to "Task Complete", list_task_complete_path(list, task), method: :put %>
            - <%= link_to "Delete", list_task_path(list, task), method: :delete %>
          </ul>
          </h5>
        <% end %>
        <div></div>
        <h5 class="completed-tasks">Completed Tasks for <%= list.title %>
        <% list.completed_tasks.each do |task| %>
          <ul>
            <%= task.title %>
            <%= link_to "Redo Task", list_redo_path(list, task), method: :put %>
            - <%= link_to "Delete", list_task_path(list, task), method: :delete %>
          </ul>
          </h5>
        <% end %>
        <br>
        <br>
    <% end %>
  </div>
</div>
